@import url(https://fonts.googleapis.com/css?family=Roboto+Slab|Roboto|Inconsolata);

h1 {
  font-size: 50px;
  text-align: center;
  color: maroon;
}

h2 {
  font-family: "Roboto Slab", Georgia, Cambria, "Times New Roman", Times, serif;
  text-decoration: underline;
  text-align: left;
  font-size: 30px;
  color: deeppink;

}

h3 {
  font-family: "Roboto Slab", Georgia, Cambria, "Times New Roman", Times, serif;
  color: hotpink;
  font-size: 30px;
}

h4 {
  font-family: "Roboto Slab", Georgia, Cambria, "Times New Roman", Times, serif;
  color: dodgerblue;
  font-size: 28px;
}

p {
  font-family: "Roboto Slab", Georgia, Cambria, "Times New Roman", Times, serif;
}

body {
  font-family:  Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #646464;
  background-color: linen;
  margin: 0 10%;

}

div {
  border-radius: 5px;
  font-size: 24px;
}


div.product img {
  border: 1px solid #777;
}

div.product:hover {
  border: 1px solid #ccc;
}

div.desc {
  padding: 15px;
}

.code {
  font-family: Inconsolata, Consolas, "Liberation Mono", Courier, monospace;
  background-color: #EAEAEA;
  white-space: pre;
  margin: 2ex 0;
}

#main {
  background-color: #E0F0F1;
  font-size: 32px;
  margin: 1ex 0;
  padding: 0.5ex 1em;
}
